html {
  background-color: #e6f8f9;
}

body {
  padding-top: 50px;
  text-align: center;
  color: #1b262c;
}

.flashcard {
  margin: auto;
  width: 50%;
  height: 60%;
  background-color: white;
  border-style: solid;
  border: blue;
  border-radius: 16px;
}

